html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  padding: 32px;
  max-width: 624px;
  display: flex;
}

.person__name {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.person__image {
  align-self: flex-start;
}

.links {
  color: #e20613;
}
